(
    path: "ZombieShooter/Sprites/Character/Shadow.png",
    tile_size: (16, 16),
    columns: 1,
    rows: 1,
    animated: false,

    name: "shadow",

    scale: 1.0,

    anchor: Center,

    offset_x: 0.0,
    offset_y: -11.0,
    offset_z: 0.9,

)